<h1><center>Product Compare<center></h1>

<div class="container">
  <table class="table table-bordered table-striped">
  <tbody>

    <tr><th class="col-md-2" scope="row">Product Name</th>
      <% params['compares'].each do |id|%>
        <td><strong><%= Product.find(id).title %></strong></td>
      <% end %>
    </tr>

    <tr><th class="col-md-2" scope="row"></th>
      <% params['compares'].each do |id|%>
        <td><%= image_tag Product.find(id).image, size: "200x200" %></td>
      <% end %>
    </tr>

    <tr><th class="col-md-2" scope="row">Price</th>
      <% params['compares'].each do |id|%>
        <td><strong><%= [Product.find(id).price_amazon, Product.find(id).price_bestbuy, Product.find(id).price_newegg].reject{|p| p.nil?}.min%></strong></td>
      <% end %>
    </tr>

    <tr><th class="col-md-2" scope="row">Brand</th>
      <% params['compares'].each do |id|%>
        <td><%= Product.find(id).brand%></td>
      <% end %>
    </tr>

    <tr><th class="col-md-2" scope="row">Process Brand</th>
      <% params['compares'].each do |id|%>
        <td><%= Product.find(id).chip_brand%></td>
      <% end %>
    </tr>

    <tr><th class="col-md-2" scope="row">Processor Speed</th>
      <% params['compares'].each do |id|%>
        <td><%= Product.find(id).p_speed %></td>
      <% end %>
    </tr>

    <tr><th class="col-md-2" scope="row">Memory Size</th>
      <% params['compares'].each do |id|%>
        <td><%= Product.find(id).memory %></td>
      <% end %>
    </tr>

    <tr><th class="col-md-2" scope="row">Memory Speed</th>
      <% params['compares'].each do |id|%>
        <td><%= Product.find(id).m_speed %></td>
      <% end %>
    </tr>

  </tbody>
  </table>
</div>
<%= link_to 'Back', :back %>
