<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Model</th>
      <th>P speed</th>
      <th>M speed</th>
      <th>Memory</th>
      <th>Brand</th>
      <th>Chip brand</th>
      <th>Price amazon</th>
      <th>Price newegg</th>
      <th>Price bestbuy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.model %></td>
        <td><%= product.p_speed %></td>
        <td><%= product.m_speed %></td>
        <td><%= product.memory %></td>
        <td><%= product.brand %></td>
        <td><%= product.chip_brand %></td>
        <td><%= product.price_amazon %></td>
        <td><%= product.price_newegg %></td>
        <td><%= product.price_bestbuy %></td>
        <td><%= link_to 'Show', product %></td></br>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
