<p id="notice"><%= notice %></p>

<center>
  <h1><%= @product.title %></h1></br></br>
  <th><%= image_tag @product.image, size: "300x300" %></th>
</center></br></br>

<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Amazon</th>
        <th>Bestbuy</th>
        <th>Newegg</th>
      </tr>
    </thead>

    <tbody>
      <th class="text-nowrap" scope="row">Price</th>
      <td class="red"><%= @product.price_amazon%></td>
      <td><%= @product.price_newegg %></td>
      <td><%= @product.price_bestbuy %></td>
    </tbody>
  </table>

  <div class="btn-group" role="group" aria-label="...">
    <%= link_to "Review", {controller: "products", action: "show", review: true}, class: "btn btn-default"%>
    <%= link_to "Detail", {controller: "products", action: "show"}, class: "btn btn-default"%>
  </div>
</div>

<div class="container">
  <% if params[:review] == nil %>
    <table class="table table-bordered table-striped">
      <tbody>
        <tr><th class="col-md-2" scope="row">Model Number</th>
          <td><%= @product.model %></td></tr>
        <tr><th class="col-md-2" scope="row">Brand</th>
          <td><%= @product.brand%></td></tr>
        <tr><th class="col-md-2" scope="row">Chip Brand</th>
          <td><%= @product.chip_brand%></td></tr>
        <tr><th class="col-md-2" scope="row">Memory Speed</th>
          <td><%= @product.m_speed%></td></tr>
        <tr><th class="col-md-2" scope="row">Memory Size</th>
          <td><%= @product.memory%></td></tr>
        <tr><th class="col-md-2" scope="row">Processor Speed</th>
          <td><%= @product.p_speed%></td></tr>
      </tbody>
    </table>

  <% else %>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Number of review</th>
          <th>Rate</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="col-md-4" scope="row"><%= @product.num_reviews%></td>
          <td class="col-md-4" scope="row"><%= @product.rate%></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <table class="table table-bordered table-striped">
      <thead>
        <th class="col-md-2" scope="row">Most helpful review</th><th></th>
        <tr>
          <th class="col-md-2" scope="row">User</th>
          <th class="col-md-2" scope="row">Comment</th>
        </tr>
      </thead>

      <tbody>
        <% @reviews.each do |r|%>
          <tr>
            <td><%= r.user_name%></td>
            <td><%= r.content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  <% end %>

  <%= link_to "Back", {controller: "static", action: "search", review: true} %>

</div>
